*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
}

.menu {
    list-style: none; 
    }
.menu .itemMenu .itemMenuLink{
    font-family: 'Roboto Condensed', sans-serif;

    color:rgb(43, 61, 61);
    text-decoration: none;
}

.subMenu {
    list-style: none; 
    
    margin-left: 10px;
}
.subMenu .itemSubMenu .itemSubMenuLink{
    font-family: 'Fira Sans', sans-serif;
    color:rgb(143, 156, 149);
    text-decoration: none;
}
.menuBotton {
    list-style: none; 

}
.menuBotton .itemMenuBotton .itemMenuLinkBotton{
    color:rgb(43, 226, 125);
    text-decoration: none;
}

.tituloPagina{
    color:grey;
}
.subTituloPagina{
    color:rgb(88, 56, 56);
}

.mainCentrado{
    box-align:center;
    align-content: center;
    text-align: center;
}

