*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.menu {
    list-style: none; 
    color:rgb(94, 255, 0);}
.menu .itemMenu .itemMenuLink{
    color:rgb(43, 226, 125);
    text-decoration: none;
}

.subMenu {
    list-style: none; 
    color:rgb(94, 255, 0);
    margin-left: 10px;
}
.subMenu .itemSubMenu .itemSubMenuLink{
    color:rgb(43, 226, 125);
    text-decoration: none;
}
.menuBotton {
    list-style: none; 
    color:rgb(94, 255, 0);

}
.menuBotton .itemMenuBotton .itemMenuLinkBotton{
    color:rgb(43, 226, 125);
    text-decoration: none;
}

.tituloPagina{
    color:grey;
}
.subTituloPagina{
    color:rgb(88, 56, 56);
}

.mainCentrado{
    box-align:center;
    align-content: center;
    text-align: center;
}

